<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsb.sundry.dao.ReportDao">
    <select id="getDateList" resultType="java.lang.String">
        SELECT  recordtime from sharesreport GROUP BY recordtime ORDER BY recordtime ASC
    </select>

    <select id="getDataList" resultType="java.lang.Integer" parameterType="com.gsb.sundry.pojo.RepoertVO">
       SELECT IFNULL(fundOwnedcount,0) as fundOwnedcount from
       (SELECT  recordtime from sharesreport GROUP BY recordtime) as a
       LEFT JOIN (SELECT  fundOwnedcount,recordtime from sharesreport  WHERE sharesCode = #{VALUE }) as b  ON a.recordtime =b.recordtime ORDER BY a.recordtime ASC
    </select>


</mapper>